*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:sans-serif;
}

#header{
    display: flex;
    width: 100vw;
    padding: 10px;
}
#nav-bar{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
#menu{
    z-index: 1;
    margin-left: 30px;
    margin-right: 5px;
    max-width: 15px;
    border-radius: 25px;
    background: #89a85e54;
    filter: opacity(100%);
}
ul li{
    font-size: 0.9em;
    display: inline-flex;
    vertical-align:middle
}
.nav-links{
    text-decoration: none;
    color: #232323;
    margin: 15px 10px;
}
.nav-links:hover{
    text-decoration: underline;
}
#menu:hover{
    background-color: red;
}

ul li img{
    vertical-align:middle;
    width: 60px;
}